.app-main-container {
    align-items: center;
    background-color: #24245d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
}

.searh-city-input {
    height: 29px;
    width: 160px;
}

.city-list-container {
    display: flex;
    margin-bottom: 10px;
}

.weather-app {
    border-radius: 19px;
    padding: 10px 24px;
    margin-bottom: 20px;
    width: 417px;
}

.five-day-forcast-container {
    border: 1px solid white;
    margin-top: 32px;
    padding: 10px;
}

.five-day-forcast-container p {
    margin-top: 0;
}

.five-day-forcast-flex-parent {
    display: flex;
    justify-content: space-around;
    padding: 0 14px;
}

.five-day-forcast-flex-item {
    margin-bottom: 12px;
    padding-left: 16px;
    width: 20%;
}

button {
    float: left;
    margin-bottom: 20px;
    margin-right: 9px;
}

.weather-app-widget-title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
}

.weather-app-widget-title img {
    float: right;
}

.weather-app-widget-data {
    display: flex;
}

.celzius-sign {
    font-size: 45px;
}

.column p {
    margin: 0;
}

.left-column p {
    font-size: 88px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.right-column p {
    font-size: 12px;
    padding: 2px;
}
